{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load admin_urls %}

{% block extrahead %}{{ block.super }}
<script src="{% url 'admin:jsi18n' %}"></script>
{% endblock %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/full-page-form.css" %}">{% endblock %}
{% block bodyclass %}{{ block.super }} {{ opts.app_label }}-{{ opts.model_name }} change-form{% endblock %}

{% block pagetype %}full-page-form{% endblock %}

{% block content %}

{% if is_popup %}<input type="hidden" name="_popup" value="1">{% endif %}
<div class="card">
    <div class="card-header">
        <div class="card-header__heading">
            <h4 class="card-header__heading__text">Change Password</h4>
            <div class="card-header__heading__underline"></div>
            <div class="card-header__heading__informational">
                {% if form.errors %}
                    <p class="errornote">
                        {% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
                    </p>
                {% else %}
                    <p>{% blocktranslate with username=original %}Enter a new password for the user <strong>{{ username }}</strong>.{% endblocktranslate %}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-body">
        <form  {% if form_url %} action="{{ form_url }}"{% endif %} method="post" id="{{ opts.model_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
            <input type="hidden" name="username" value="{{ original.get_username }}" style="display: none">
            {{ form.password1.errors }}
            {{ form.password1.label_tag }} {{ form.password1 }}

            {{ form.password2.errors }}
            {{ form.password2.label_tag }} {{ form.password2 }}
        </form>
    </div>

    <div class="card-footer">
        <button type="submit" class="material-button contained" onclick="document.querySelector('form').submit()">{% translate 'Change password' %}</button>
    </div>
</div>

<script src="{% static "admin/js/full-page-form.js" %}" defer></script>

{% endblock %}


