{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/full-page-form.min.css" %}">{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block pagetype %}full-page-form{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}{% endblock %}
{% block content %}

<div class="card">
    <div class="card-header">
        <div class="card-header__heading">
            <h4 class="card-header__heading__text">Password reset confirmation</h4>
            <div class="card-header__heading__underline"></div>
            <div class="card-header__heading__informational">
                {% if validlink %}
                    <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                {% else %}
                    <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
                {% endif %}
            </div>
        </div>
    </div>

    {% if validlink %}
        <div class="card-body">
                <form method="post">{% csrf_token %}
                    <label for="id_new_password1">{% translate 'New password:' %}</label>
                    {{ form.new_password1 }}
                    {{ form.new_password1.errors }}

                    <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
                    {{ form.new_password2 }}
                    {{ form.new_password2.errors }}
                </form>
        </div>
        <div class="card-footer">
            <button class="material-button contained" onclick="document.querySelector('form').submit()" type="submit">{% translate 'Change my password' %}</button>
        </div>
    {% else %}
        <div class="card-footer">
            {% if password_reset_url %}
                <a class="material-button unobtrusive" href="{{ password_reset_url }}">{% translate 'Request password change' %}</a>
            {% endif %}
        </div>
    {% endif %}

</div>


<script src="{% static "admin/js/full-page-form.min.js" %}" defer></script>

{% endblock %}
