{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/full-page-form.min.css" %}">{% endblock %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% translate 'Documentation' %}</a> / {% endif %} {% translate 'Change password' %} / <a href="{% url 'admin:logout' %}">{% translate 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}{% endblock %}

{% block pagetype %}full-page-form{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        <div class="card-header__heading">
            <h4 class="card-header__heading__text">Reset password</h4>
            <div class="card-header__heading__underline"></div>
            <div class="card-header__heading__informational">
                        {% if form.errors %}
                            <p class="errornote">
                            {% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
                            </p>
                        {% endif %}
                        <p>{% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}

            {{ form.old_password.errors }}
            {{ form.old_password.label_tag }} {{ form.old_password }}

            {{ form.new_password1.errors }}
            {{ form.new_password1.label_tag }} {{ form.new_password1 }}

            {{ form.new_password2.errors }}
            {{ form.new_password2.label_tag }} {{ form.new_password2 }}

        </form>
    </div>

    <div class="card-footer">
        <button type="submit" class="material-button contained" onclick="document.querySelector('form').submit()">{% translate 'Change my password' %}</button>
    </div>
</div>

<script src="{% static "admin/js/full-page-form.min.js" %}" defer></script>

{% endblock %}
