{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/full-page-form.min.css" %}">{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% translate 'Documentation' %}</a> / {% endif %}{% translate 'Change password' %} / <a href="{% url 'admin:logout' %}">{% translate 'Log out' %}</a>{% endblock %}

{% block pagetype %}full-page-form{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <div class="card-header__heading">
            <h4 class="card-header__heading__text">Password change successful</h4>
            <div class="card-header__heading__underline"></div>
            <div class="card-header__heading__informational">
                <p>
                    {% translate 'Your password was changed.' %}
                </p>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <a href="{% url 'admin:login' %}">{% translate 'Log in' %}</a>
    </div>
</div>


<script src="{% static "admin/js/full-page-form.min.js" %}" defer></script>

{% endblock %}
